.line-select
{
    width: auto;
    height: 25px;

    background-color: #fcfcfc;

    display: inline-block;


    border-color: #D9D9D9;

    border-radius: 5px;

    border-bottom: 1px solid #5E6060;
    border-right: 1px solid #5E6060;
    border-left: 1px solid #5E6060;
    border-top: 1px solid #5E6060;
}

.line-select-item
{
    width: 50px;
    height: 25px;

    line-height: 0.9;
    text-align: center;
    vertical-align: center;

    color: #0B0B0B;
    font-weight: 500;

    font-size: 13px;

    font-style: normal;

    font-family: SFUIDisplay;



}

.line-select-item-first
{
    border-radius: 5px 0 0 5px;

}

.line-select-item-last
{
    border-radius: 0 5px 5px 0;


}


.line-select-item-selected
{
    color: #f3f3f3;




    background-color: #018bfd;
}