.navigator
{
    background-color: #3C3F41;

    border-color: #616161;

    border-bottom: 1px solid #5E6060;
    border-right: 1px solid #5E6060;
    border-left: 1px solid #5E6060;
    border-top: 1px solid #5E6060;
}


.header
{
    background-color: #4A4E52;

    color: #dadacb;

    font-size: 12px;
    line-height: 1.15;
    
    vertical-align: center;
    text-align: center;
}

.button
{
    background-color: #4C5052;

    border-color: #5E6060;
    border-radius: 3px;
    border-bottom: 1px solid #5E6060;
    border-right: 1px solid #5E6060;
    border-left: 1px solid #5E6060;
    border-top: 1px solid #5E6060;

    color: #dadacb;

    font-size: 13px;
    line-height: 1.15;
    text-align: center;
    vertical-align: center;
}

.button:active
{
    border-color: #3D6185;
    border-radius: 4px;
    border-bottom: 3px solid #5E6060;
    border-right: 3px solid #5E6060;
    border-left: 3px solid #5E6060;
    border-top: 3px solid #5E6060;
}

.button-blue
{
    background-color: #365880;

    border-color: #4C708C;

    color: #dadacb;

    font-size: 13px;
    line-height: 1.15;
    text-align: center;
    vertical-align: center;
}


.system-exit
{
    background-color: #412a2a;
}

.system-exit:hover
{
    background-color: #ce4848;
}

.text-info
{
    color: #dadacb;
    line-height: 1;

 
    font-size: 14px;
}

.warning-image
{
    background-image: url(images/warning.png);
  
    background-size: 45px;
}