.__test-sizes
{
    width: 100%;
    height: calc(100% - 12px);
    top: 10px;
    left: calc(60% - 50px);
}

.main
{
    background-color: #263238;
}

.left-side
{
    background-color: #4f6975;
}

.settings
{
    background-color: #cccccc;
}

.settings:hover
{
    background-color: #263238;
}


.left-col
{
    background-color: #ac4f4f;
}

.left-col:hover
{
    background-color: #cc2b2b;
}

.right-col
{
    background-color: #4fa9ac;
}

.navigator
{
    background-color: #3C3F41;
}

.window-header
{
    color: #dadacb;

    font-size: 12px;
    line-height: 1.15;
   
    margin-left: 20px;

    vertical-align: center;
}

.system-button
{
    background-position-x: 18px;
    background-position-y: 10px;
    background-size: 10px;
}

.system-exit
{
    background-image: url(images/exit.png);
}

.system-exit:hover
{
    background-color: #ce4848;
}


.system-expand
{
    background-image: url(images/expand.png);
}

.system-expand:hover
{
    background-color: #2B2E2F;
}

.system-collapse
{
    background-image: url(images/collapse.png);
}

.system-collapse:hover
{
    background-color: #2B2E2F;
}



.checkbox
{
    background-image: url(images/unselect_1.png);
    background-size: 16px;

    color: #dadacb;

    font-size: 13px;
    line-height: 1.3;
    
    margin-left: 25px;
    vertical-align: center;
}

.checkbox-checked
{
    background-image: url(images/select_1.png);
    background-size: 16px;

    color: #dadacb;


    font-weight: 500;
    font-style: italic;

    font-size: 13px;
    line-height: 1.3;
    
    margin-left: 25px;
    vertical-align: center;
}


.radio-button
{
    background-image: url(images/unselect.png);
    background-size: 13px;

    background-position-y: 2px;

    color: #dadacb;

    font-size: 13px;
    line-height: 1.3;
    
    margin-left: 25px;
    vertical-align: center;
}

.radio-button-checked
{
    background-image: url(images/select.png);
    background-size: 13px;

    background-position-y: 2px;

    color: #dadacb;

    font-weight: 500;
    font-style: italic;

    font-size: 13px;
    line-height: 1.3;
    
    margin-left: 25px;
    vertical-align: center;
}


.outer-block
{
    border-color: #3D6185;
   
    border-bottom: 1px solid #5E6060;
    border-right: 1px solid #5E6060;
    border-left: 1px solid #5E6060;
    border-top: 1px solid #5E6060;

    
}

.inner-block
{
    background-color: #3E434C;
}

.click-and-hover
{
    background-color: #3C3F41;

    border-color: #323232;
    
    border-top: 1px solid #323232;
    border-bottom: 1px solid #323232;
    border-left: 1px solid #323232;
    border-right: 1px solid #323232;
}

.click-and-hover:hover
{
    background-color: rgb(47, 113, 156);
}

.click-and-hover:active
{
    border-radius: 10px;

   

    border-top: 10px solid #323232;
    border-bottom: 1px solid #323232;
    border-left: 1px solid #323232;
    border-right: 1px solid #323232;
}


.events
{
    background-color: #3E434C;

    border-top: 1px solid #323232;
    border-bottom: 1px solid #323232;
    border-left: 1px solid #323232;
    border-right: 1px solid #323232;
}



.outer
{
    width: 370px;
    height: 200px;

    left: 100px;
    top: 200px;

    border-color: #323232;

    border-top: 1px solid #323232;
    border-bottom: 1px solid #323232;
    border-left: 1px solid #323232;
    border-right: 1px solid #323232;
}

.inner
{
    background-color: #3E434C;
}


.inner-2
{
    background-color: #3E434C;
}

.inner-in
{
    background-color: #3E434C;

    border-color: #3D6185;

    border-top: 1px solid #323232;
    border-bottom: 1px solid #323232;
    border-left: 1px solid #323232;
    border-right: 1px solid #323232;
}

.image
{
    background-image: url(images/back1.png);
    background-size: 200px;
}


.text-block
{
    color: #dadacb;

    
    font-style: italic;

    font-size: 11px;
    line-height: 1.3;
   
}

.test-block
{
    background-color: #3E434C;
    border-color: #3D6185;
   
    border-bottom: 1px solid #5E6060;
    border-right: 1px solid #5E6060;
    border-left: 1px solid #5E6060;
    border-top: 1px solid #5E6060;
}

.test-block-item
{
    background-color: #3E434C;
    
    border-color: rgb(36, 38, 41);

    border-bottom: 1px solid #5E6060;
    border-right: 1px solid #5E6060;
    border-left: 1px solid #5E6060;
    border-top: 1px solid #5E6060;

    color: #dadacb;

    
    font-style: italic;

    font-size: 12px;
    line-height: 1.3;
    margin-left: 10px;


}

.test-block-item:hover
{
    background-color: #3D6185;
    
    border-bottom: 1px solid #5E6060;
    border-right: 1px solid #5E6060;
    border-left: 1px solid #5E6060;
    border-top: 1px solid #5E6060;

    color: #dadacb;

    
    font-style: italic;

    font-size: 12px;
    line-height: 1.3;

    margin-left: 20px;
}

.test-class
{
    width: auto;
    height: auto;

    left: 800px;
    top: 200px;

    background-color: #cc2b2b;
}

.test-class-inner-1
{
    width: 100px;
    height: 50px;

    left: 0px;
    top: 0px;
}

.test-class-inner-2
{
    width: 100px;
    height: 200px;

    left: 10px;
    top: 100px;

    background-color: #3D6185;
}

.test-class-inner-inner
{
    width: 300px;
    height: 50px;

    top: 0px;
    left: 0px;

    background-color: #ccc92b;
}

.buttons
{
    width: 100px;
    height: 100px;

    top: 30px;
    left: 20px;

    background-color: #ac4f4f;
}

.button-1
{
    top: 30px;
    left: 20px;
}