/* .sfsasf {} */

.system-exit
{
    background-image: url(images/exit.png);
    background-position-x: 18px;
    background-position-y: 10px;
    background-size: 10px;
}


.system-expand:hover
{
    background-color: #2B2E2F;
}
