.navigator
{
    background-color: #3C3F41;
}

.window-header
{
    color: #dadacb;

    font-size: 12px;
    line-height: 1.15;
   
    margin-left: 20px;

    vertical-align: center;
}


.system-exit
{
    background-image: url(images/exit.png);
    background-position-x: 18px;
    background-position-y: 10px;
    background-size: 10px;
}

.system-exit:hover
{
    background-color: #ce4848;
}


.system-expand
{
    background-image: url(images/expand.png);
    background-position-x: 18px;
    background-position-y: 10px;
    background-size: 10px;
}

.system-expand:hover
{
    background-color: #2B2E2F;
}

.system-collapse
{
    background-image: url(images/collapse.png);
    background-position-x: 18px;
    background-position-y: 10px;
    background-size: 10px;
}

.system-collapse:hover
{
    background-color: #2B2E2F;
}

