.main
{
    background-color: #263238;
}

.left-side
{
    background-color: #4f6975;
}

.settings
{
    background-color: #cccccc;
}

.settings:hover
{
    background-color: #263238;
}


.left-col
{
    background-color: #ac4f4f;
}

.left-col:hover
{
    background-color: #cc2b2b;
}

.right-col
{
    background-color: #4fa9ac;
}

.navigator
{
    background-color: #3C3F41;
}

.button
{
    background-color: #4C5052;

    border-color: #5E6060;
    border-radius: 3px;
    border-bottom: 1px solid #5E6060;
    border-right: 1px solid #5E6060;
    border-left: 1px solid #5E6060;
    border-top: 1px solid #5E6060;

    color: #dadacb;

    font-size: 13px;
    line-height: 1.15;
    text-align: center;
    vertical-align: center;
}

.button:active
{
    border-color: #3D6185;
    border-radius: 4px;
    border-bottom: 3px solid #5E6060;
    border-right: 3px solid #5E6060;
    border-left: 3px solid #5E6060;
    border-top: 3px solid #5E6060;
}

.button-blue
{
    background-color: #365880;

    border-color: #4C708C;


    color: #dadacb;

    font-size: 13px;
    line-height: 1.15;
    text-align: center;
    vertical-align: center;
}




.system-exit
{
    background-image: url(images/exit.png);
    background-position-x: 18px;
    background-position-y: 10px;
    background-size: 10px;
}

.system-exit:hover
{
    background-color: #ce4848;
}


.system-expand
{
    background-image: url(images/expand.png);
    background-position-x: 18px;
    background-position-y: 10px;
    background-size: 10px;
}

.system-expand:hover
{
    background-color: #2B2E2F;
}

.system-collapse
{
    background-image: url(images/collapse.png);
    background-position-x: 18px;
    background-position-y: 10px;
    background-size: 10px;
}

.system-collapse:hover
{
    background-color: #2B2E2F;
}
