.navigator
{

    background-color: #3c3f41;
    border-color: #515151;

    border-bottom: 1px solid #5E6060;
    border-right: 1px solid #5E6060;
    border-left: 1px solid #5E6060;
    border-top: 1px solid #5E6060;
}