.table {
    width: 300px;
    height: 300px;


    background-color: #FFFFFF;

    border: 1px solid #E6E6E6;

    display: block;
}

.table-header {
    width: auto;
    height: 25px;

    top: 0;
    left: 0;

    background-color: #FFFFFF;

    border-color: #E6E6E6;
    border-bottom: 1px solid #E6E6E6;

    display: inline-block;
}

.table-body {
    width: auto;
    height: calc(100% - 27px);

    background-color: #FFFFFF;

    display: block;
}

.table-row {
    width: auto;
    height: 23px;

    background-color: #FFFFFF;

    display: inline-block;
}

.light {
    background-color: #f5f5f5;
}

.light:focus {
    background-color: #EDEDED;
}

.table-row:focus {
    background-color: #EDEDED;
}

.table-header-item {
    width: 120px;
    height: 80%;

    top: 15%;

    color: #222222;
    font-size: 12px;

    font-weight: 600;

    line-height: 1;
    text-align: center;
    vertical-align: center;

    background-color: #FFFFFF;
    border-color: #F0EFF0;
    border-right: 1px solid #E5E5E5;

    font-family: SFUIDisplay;


}

.table-item {
    width: calc(120px + 1px);
    height: 100%;


    color: #474147;
    font-size: 12px;

    font-weight: 400;

    line-height: 1;
    text-align: center;
    vertical-align: center;

    font-family: SFUIDisplay;
}
