.button {
    width: 70px;
    height: 24px;

    background-color: #F8F8F8;


    border-radius: 5px;

    outline: #D9D9D9;

    line-height: 0.9;
    text-align: center;
    vertical-align: center;

    color: #0B0B0B;
    font-weight: 600;

    font-size: 12px;

    font-style: normal;

    font-family: SFUIDisplay;

    border-color: #e4e4e4;
    border-bottom: 2px solid #5E6060;
}

.button:active
{
    border-color: #B1CFF0;



    border-bottom: 3px solid #5E6060;
    border-right: 3px solid #5E6060;
    border-left: 3px solid #5E6060;
    border-top: 3px solid #5E6060;
}

.button:focus {
    border-color: #B1CFF0;


    border-bottom: 3px solid #5E6060;
    border-right: 3px solid #5E6060;
    border-left: 3px solid #5E6060;
    border-top: 3px solid #5E6060;
}

.button-blue {
    background-color: #1B8AF9;
    outline: #1e80cd;
    color: #F8F8F8;
}

.button-blue:active {

}

.button-blue:focus {

}