.button
{
    width: 70px;
    height: 24px;
    
    background-color: rgb(76, 80, 82);

    border-color: #393A3B;

    border-bottom: 2px solid #5E6060;


    outline: #585A5A;

    color: #dadacb;

    font-size: 13px;

    
    font-style: italic;

    line-height: 1.05;
    text-align: center;
    vertical-align: center;
}

.button:active
{
    outline: #507193;

    font-style: normal;
    font-weight: 400;

    border-color: #43688C;

    border-bottom: 2px solid #5E6060;
    border-right: 2px solid #5E6060;
    border-left: 2px solid #5E6060;
    border-top: 2px solid #5E6060;
}

.button:focus
{
    outline: #507193;

    border-color: #43688C;

    border-bottom: 2px solid #5E6060;
    border-right: 2px solid #5E6060;
    border-left: 2px solid #5E6060;
    border-top: 2px solid #5E6060;
}

.button-blue
{
    background-color: #365880;


    outline: #456B91;
}