
.navigator {
    background-color: #F1F0F1;

    border: 1px solid #BEBDBF;


}

.window-header {
    width: 100%;
    height: 30px;
    left: 0;
    top: 0;


    color: #dadacb;

    font-size: 12px;
    line-height: 1.15;

    margin-left: 20px;

    vertical-align: center;
}

.system-button {
    background-position-x: 18px;
    background-position-y: 10px;
    background-size: 10px;


}

.system-exit {
    left: calc(100% - 45px);
    top: 0;
    width: 45px;
    height: 30px;

    background-image: url(../styles/std_windows/simple_window/images/exit.png);
}

.system-exit:hover {
    background-color: #ce4848;
}


.system-expand {
    left: calc(100% - 90px);
    top: 0;
    width: 45px;
    height: 30px;

    background-image: url(../styles/std_windows/simple_window/images/expand.png);
}

.system-expand:hover {
    background-color: #2B2E2F;
}

.system-collapse {
    left: calc(100% - 135px);
    top: 0;
    width: 45px;
    height: 30px;

    background-image: url(../styles/std_windows/simple_window/images/collapse.png);
}

.system-collapse:hover {
    background-color: #2B2E2F;
}


.button-ok
{
    top: 420px;
    left: 20px;
}

.button-cancel
{
    top: 420px;
    left: 100px;
}

.button-browse {
    top: 350px;
    left: 300px;
}


.first-checkbox {
    top: 423px;
    left: 200px;

    width: 150px;
}

.circle
{
    top: 90px;
    left: 10px;

    width: 18px;
    height: 18px;

    border-radius: 9px;

    background-color: #ce4848;

    border: 1px solid #46bb41;
}

.input
{
    width: 350px;
    height: 150px;

    top: 250px;
    left: 20px;

    background-color: #ffffff;
    outline: #D2D2D2;

    font-size: 14px;

    line-height: 1.2;


    color: #000000;
    font-weight: 400;

    font-family: Consolas;

    padding-left: 10px;
    padding-top: 10px;
}

.input:focus
{
    border-color: #B1CFF0;


    border-bottom: 4px solid #5E6060;
    border-right: 4px solid #5E6060;
    border-left: 4px solid #5E6060;
    border-top: 4px solid #5E6060;
}

.input-one-line
{
    width: 660px;
    height: 27px;

    top: 40px;
    left: 110px;

    background-color: #ffffff;
    outline: #D2D2D2;

    font-size: 14px;

    line-height: 1;
    text-align: center;
    vertical-align: middle;

    font-weight: 500;

    border-radius: 5px;

    border-color: #e4e4e4;
    border-bottom: 2px solid #5E6060;
}

.input-one-line:focus
{
    border-color: #B1CFF0;


    border-bottom: 4px solid #5E6060;
    border-right: 4px solid #5E6060;
    border-left: 4px solid #5E6060;
    border-top: 4px solid #5E6060;
}

.header
{
    width: 100%;
    height: 25px;

    top: 0;
    left: 0;


    font-size: 13px;


    text-align: center;
    vertical-align: center;

    font-weight: 600;
    color: #423F42;


    border-color: #BEBDBF;
    border-bottom: 1px solid #BEBDBF;

    font-family: SFUIDisplay;

    background: linear-gradient(#E9E8EA, #D0CED1);

}

.button-exit-mac
{
    width: 14px;
    height: 14px;

    top: 6px;
    left: 10px;


    background-image: url(../styles/std_components/other/images/button-exit-s.png);
    background-size: 14px;


}

.button-minimize-mac
{
    width: 14px;
    height: 14px;

    top: 6px;
    left: 32px;


    background-image: url(../styles/std_components/other/images/button-minimize-s.png);
    background-size: 14px;
}

.button-zoom-mac
{
    width: 14px;
    height: 14px;

    top: 6px;
    left: 54px;


    background-image: url(../styles/std_components/other/images/button-zoom-s.png);
    background-size: 14px;
}


.button-next
{
    width: 31px;
    height: 27px;

    top: 40px;
    left: 51px;

    background-image: url(../styles/std_components/other/images/arrow-next.png);
    background-size: 24px;
    background-position-y: 3px;
    background-position-x: 5px;


    background-color: #F8F8F8;

    border-radius: 5px;

    outline: #D9D9D9;

    border-color: #e4e4e4;
    border-bottom: 2px solid #5E6060;
}

.button-next:active
{
    background-color: #fdfdfd;

    border-bottom: 1px solid #5E6060;
}


.button-prev
{
    width: 31px;
    height: 27px;

    top: 40px;
    left: 20px;

    background-image: url(../styles/std_components/other/images/arrow-prev.png);
    background-size: 24px;
    background-position-y: 3px;
    background-position-x: 3px;


    background-color: #F8F8F8;

    border-radius: 5px;

    outline: #D9D9D9;

    border-color: #e4e4e4;
    border-bottom: 2px solid #5E6060;
}

.button-prev:active
{
    background-color: #fdfdfd;

    border-bottom: 1px solid #5E6060;
}



.bar
{
    top: 80px;
    left: 460px;

    width: 270px;
}

.bar-item
{
    width: calc(100% / 4);
}


.tab-body
{
    top: 93px;
    left: 420px;

    width: 350px;
    height: 130px;

    background-color: #E3E3E4;

    border: 1px solid #D5D4D5;
    outline: #DEDEE0;

    border-radius: 4px;
}


.table-test {
    width: 350px;
    height: 150px;

    top: 85px;
    left: 20px;
}

.column-0
{
    width: 30px;
}

.column-1
{
    width: 100px;
}

.column-3
{
    width: 96px;
}

.text {
    width: 200px;
    height: 24px;

    top: 150px;
    left: 20px;

    color: #dadacb;

    font-size: 13px;
    font-style: italic;
    line-height: 1.05;
    vertical-align: center;
}

.button-1 {
    top: 230px;
    left: 50px;
}

.menu
{
    left: 420px;
    top: 250px;
}